/*----------------------------------*\
    font variables
\*----------------------------------*/

/* importing font */
/*
@font-face {
  font-family: neki;
  src: url(./fonts/neki.otf);
  font-weight: 700;
}
*/

/* Font Families */
$font-primary: "Raleway";
$font-secondary: "sans-serif";
$font-tertiary: "";

/* Font Weights */
$light: 300;
$normal: 400;
$bold: 700;