.markdown {
    .raw {
        display: none;
    }

    $color: #b3aba6;
    color: $color;

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;

    // Paragraphs
    p {
        padding: 7px 2px;
        line-height: 1.58;
        font-size: 18px;
        letter-spacing: 0.1px;
    }

    a {
        position: relative;
        color: darken($color, 10%);

        &::before {
            content: '';

            position: absolute;
            bottom: 0;
            left: 0;

            width: 0;
            height: 1px;
            background-color: $color-green;
            @include transition();
        }

        &:hover::before {
            width: 100%;
        }
    }

    // Headings

    // Main heading, should be used only for the title
    h1 {
        font-size: 33px;
        letter-spacing: 0.3px;

        color: $color-dark-mint;
    }

    // Smaller one
    h2 {
        font-size: 26px;
        letter-spacing: 0.25px;

        padding-top: 15px;
        padding-bottom: 5px;

        color: darken($color-dark-mint, 5%);
    }

    h3 {
        font-size: 19px;
        letter-spacing: 0.2px;

        color: darken($color-dark-mint, 8%);
    }

    // Images are centered
    img {
        height: 450px;
        width: auto;

        margin-top: 10px;
        margin-bottom: 15px;
    }

    hr {
        border: 1px solid $color-light-gray;
    }

    ul {
        margin-top: 10px;
        margin-bottom: 8px;
        padding-left: 20px;

        list-style: disc inside;

        li {
            display: list-item;
        }
    }

    @media #{$xs-down} {
        img {
            width: 100%;
            height: auto;
        }

        p {
            font-size: 1em;
        }

        h1 {
            font-size: 1.6em;
        }

        h2 {
            font-size: 1.4em;
        }
    }


}