.body {
    min-height: 100vh;

    background-color: $color-black;
    color: $color-white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: $font-primary $font-secondary;

    &__page {
        color: $color-white;
        font-family: $font-primary, $font-secondary;
        min-height: 100vh;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        background-color: $color-black;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;

        h1, .heading {
            font-size: 6em;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 2px;
        }

        h2, h3, h4 {
            font-size: 2em;
            text-align: center;
        }

        p {
            font-size: 20px;
            letter-spacing: .05px;
            text-align: center;

            @media #{$sm-only} {
                font-size: 25px;
            }
        }

        br {
            content: " ";
            display: block;
            margin: 10px 0;
        }
    }


    // on index.html
    @keyframes slidein {
        from {left: -80px; opacity: 0;}
        to {left: 0; opacity: 1}
    }

    @keyframes slideup {
        from {bottom: -30px; opacity: 0;}
        to {bottom: 0; opacity: 1}
    }

    .nano {

        &--title {
            position: relative;
            left: 0;
            opacity: 1;
            animation: slidein 1.05s cubic-bezier(.17,.67,.64,1) forwards 1;
        }

        &--desc {
            position: relative;
            bottom: 0;
            opacity: 1;
            animation: slideup 0.9s cubic-bezier(.17,.67,.64,0.95) forwards 1;
        }

        &--small {
            font-size: 0.8em !important;
        }
    }


    &__button {
        background-color: $color-white;
        border-radius: 1px;
        letter-spacing: 0.5px;

        vertical-align: middle;
        text-align: center;

        font-weight: 700;
        text-transform: uppercase;

        padding: 10px 12px 10px 12px;
        cursor: pointer;

        border: 1px solid $color-gray;
        color: $color-white;

        @include transition();

        &.green {
            background-color: transparent;
            color: lighten($color-light-green, 10%);
            border: 1px solid $color-light-green;
        }

        &.green:hover {
            color: black;
            background-color: $color-green;
        }
    }

    // COMMANDS
    &__commands {
        &__container {
            min-height: 100%;
            width: 70%;
            padding-top: 50px;
            margin-bottom: 50px;

            justify-content: flex-start;
        }

        .minitext {
            font-size: 0.7em;
        }

        &__text {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            h1 {
                font-size: 2.5em;
                padding: 15px;
            }

            p {
                font-size: 1em;
                width: 65%;
                text-align: justify;
            }

            .smaller {
                text-align: center;
                font-size: 0.9em;
                letter-spacing: .4px;
            }

            .exc {
                color: $color-green;
                font-weight: 700;
            }
        }

        .cmd {
            $base-border-color: lighten($color-gray, 5%);
            $base-border: 2px solid $base-border-color;

            &__switcher {
                cursor: pointer;
                display: flex;
                flex-direction: row;

                @include user-select(none);

                li {
                    background: transparent;
                    position: relative;
                    display: inline-block;
                    letter-spacing: 0.75px;
                    font-weight: 500;
                    padding: 13px;
                    margin: 0 1px 0 1px;
                    z-index: 1;
                    border: $base-border;
                    border-radius: 4px 4px 0 0;
                    @include transition(.3s ease);
                }

                li:after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 0;
                    z-index: -1;
                    background: lighten(#324130, 8%);
                    @include transition(.3s ease);
                }

                li:hover, li.active {
                    color: darken($color-white, 20%);
                }

                li:hover:after, li.active:after {
                    top: 0;
                    height: 100%;
                }
            }

            &__category {
                display: none;
                flex-direction: column;
                align-items: center;

                position: relative;
                right: -1px;

                border: $base-border;
                @include transition();

                @keyframes pagefade {
                    from {
                        opacity: 0
                    }
                    to {
                        opacity: 1
                    }
                }

                p {
                    width: 100%;
                    margin: 0;
                    padding: 15px 10px 10px 10px;
                    font-weight: 400;
                    font-size: 1em;

                    &.bt {
                        border-top: $base-border;
                    }

                    &.bb {
                        border-bottom: $base-border;
                    }
                }

                &.show {
                    display: flex;
                    opacity: 1;
                    animation: pagefade .5s ease;
                    @include animation-fill-mode(forwards);
                }

                table {
                    border-collapse: collapse;
                    width: 100%;

                    tr th {
                        border-top: none;
                    }

                    tr:last-child td {
                        border-bottom: none;
                    }
                }

                th, td {
                    border: 2px solid lighten($color-gray, 10%);
                    border-left: none;
                    border-right: none;
                }

                tbody {
                    border: none;
                }
            }

            &--type {
                font-size: 1.7em;
                font-weight: 700;
                letter-spacing: 0.5px;
            }

            &--desc {
                font-size: 0.9em;
                font-weight: 400;
                letter-spacing: 0.1px;
            }

            &__entry {
                $entry-padding: 10px;
                $side-padding: 15px;

                .name {
                    width: 30%;
                    padding: $entry-padding $side-padding $entry-padding $side-padding;
                    text-align: left;

                    border-right: $base-border;
                }

                .desc {
                    padding: $entry-padding $side-padding $entry-padding $side-padding;
                    width: 50%;
                    text-align: left;

                    border-right: $base-border;
                }

                .alias {
                    width: 20%;
                    padding: $entry-padding $side-padding $entry-padding $side-padding;
                    text-align: center;
                }
            }
        }
    }

    // FREQUENTLY ASKED QUESTIONS
    &__faq {
        h1 {
            font-size: 40px;
            padding: 25px 25px 25px 0;
        }

        .faq {
            &__category {
                overflow: hidden;
                border: 2px solid $color-light-gray;
                padding: 10px;
                width: 70%;
                margin-bottom: 35px;
                max-height: 55px;

                @include transition(max-height .4s);

                &.open {
                    // Cheeky
                    max-height: 2000px;
                }

                &--info {
                    cursor: pointer;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    margin-bottom: 15px;
                }

                &--name {
                    padding-left: 10px;
                    font-size: 1.55em;
                }
            }

            &__entry {
                cursor: auto;
                padding: 3px;
                display: flex;
                flex-direction: column;

                margin: 20px 0 20px 0;

                &--q {
                    display: flex;
                    align-items: center;
                    position: relative;
                    font-weight: 500;
                    font-size: 18px;
                    border-bottom: 2px solid $color-gray;
                }

                &--a {
                    padding-top: 3px;
                    padding-left: 2px;
                    letter-spacing: .3px;
                    font-size: 16px;
                }
            }
        }
    }

    // BLOG ENTRIES
    &__blog {
        min-height: 100vh;

        $ch-padding-vertical: 20px;
        $ch-padding-horizontal: 50px;
        padding: $ch-padding-vertical $ch-padding-horizontal;
        align-items: flex-start;
        font-family: "Arimo", $font-primary, $font-secondary;
        background-color: mix(#5d3732, $color-black, 30);

        $color-grayish: #b4aba5;

        color: $color-grayish;

        .changelog {
            &--title {
                font-size: 40px;
                letter-spacing: 1px;
                align-self: flex-start;
                padding: 5px;

                margin-top: 8px;
                margin-bottom: 15px;

                color: $color-dark-green;
            }

        }

        .box {
            width: calc(100% - 60px);
            margin: 5px;
            padding: 12px 22px;
            border: 1px solid $color-light-gray;
            border-radius: 1px;
        }

        .loading {

            &.active {
                // Ensures this is over the whole screen except the navigation

                width: calc(100vw + #{$ch-padding-horizontal});
                height: calc(100vh + #{$ch-padding-vertical});
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: transparentize($color-gray, 0.001);

                pointer-events: all;
                z-index: 1;
                opacity: 1;

                position: absolute;
                left: -$ch-padding-horizontal;
                top: -$ch-padding-vertical;

                .text {
                    // the dots make it look uncentered
                    position: relative;
                    left: 3px;
                    letter-spacing: 1px;
                }

                @include transition(.3s);
            }

            &.animate {
                opacity: 0;
                pointer-events: none;
            }
        }
    }

    // TERMS OF SERVICE
    &__tos {
        padding: 35px;
        align-items: flex-start;

        .tos {
            &--title {
                font-size: 1.7em;
            }

            &--details {
                font-size: 1em;
            }

            &--actual {
                font-size: 1.2em;
            }
        }
    }


    // BLOG
    &__blogs {
        font-weight: normal;

        .h1title {
            font-weight: 700;
            font-size: 3.5em;
            letter-spacing: 1.5px;
            margin-top: 40px;

        }

        .description {
            font-size: 0.9em;
            margin-bottom: 30px;
        }

        .wrapper {
            $margins: 50px;

            height: calc(100% - #{$margins});
            width: calc(100% - #{$margins});
        }

        .blog {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            margin: 50px;

            .entry {
                $entry-margin: 2px;
                $border-size: 1.5px;

                min-height: 150px;
                max-height: 800px;

                $per-row: 3;
                $calculated-width: calc((100/#{$per-row})*1% - #{$entry-margin}*2 - #{$border-size}*2);

                display: flex;
                position: relative;
                flex: 0 1 $calculated-width;
                margin: $entry-margin;

                border: solid $border-size darken($color-someblue, 30%);
                background-color: darken($color-dark-blue, 5%);

                padding: 20px 18px 25px;

                flex-direction: column;

                .title {
                    font-size: 2em;
                    white-space: nowrap;
                    margin-bottom: 8px;
                }

                .desc {
                    font-size: 0.785em;
                    word-wrap: break-word;
                }

                .hf {
                    position: absolute;
                    left: 0;
                    top: 0;
                    height: 100%;
                    width: 100%;
                    background-color: transparentize($color-black, 0.5);

                    display: flex;
                    justify-content: center;
                    align-items: center;

                    $arrow-scale: 20px;

                    span {
                        font-size: 1.8em;
                        font-weight: 700;
                        color: transparentize($color-white, 0.25);
                        user-select: none;
                    }

                    @include transition();
                    opacity: 0;
                    cursor: pointer;
                    pointer-events: all;
                }

                .hf:hover {
                    opacity: 1;
                    pointer-events: all;
                }
            }
        }

    }


    // MEDIA QUERIES
    @media #{$xs-down} {
        &__commands {
            &__text {
                h1 {
                    text-align: center;
                }

                p {
                    width: 80%;
                }

                .cont {
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }

                .minitext {
                    font-size: 0.9em;
                }
            }

            &__container {
                width: 98%;

                .cmd {
                    &__switcher {
                        overflow-x: auto;
                    }
                }
            }
        }

        &__faq {
            .faq {
                &__category {
                    width: 95%;
                }
            }
        }

        &__changelog {
            padding: 0;

            .box {
                width: 100%;
                padding: 0 5px;
                margin: 0;
            }
        }

        &__blogs {
            .blog {
                flex-direction: column;
                margin: 5px 5px 25px;

                .entry {

                }
            }
        }

        &__blog {
            padding: 10px 15px;

            .changelog--title {
                font-size: 2.4em;
                text-align: center;
            }

            .markdown.box {
                width: 100%;
                margin: 0;
                padding: 5px;
            }

            .rendered {
                max-width: 100%;
            }
        }
    }
}